body{
    margin: 0%;

    }
.container{
    position: absolute;
    margin: 0%;
    top: 50px;
    left: 50px;
    transform: translate(-50% -50%);
}
#flag
{
margin: 50px;
width: 300px;
height: 200px;
}
.flag_img{
    position: relative;
    background-image: url('france.jpeg');
    background-size: 300px 100px;
    width: 1px;
    height: 100%;
    display: inline-block;
    animation: wave 1s ease-in-out infinite alternate;
}
@keyframes wave{
    0%{
        top: 5%;
    }
    100%{
        top: -5%;
    }
}